.cdx-text-variant--call-out .ce-block__content {
  border: 1px solid rgb(255, 135, 135);
  padding: 8px 16px;
  border-radius: 6px;
  box-shadow: 0 0 0 5px rgba(255, 120, 84, 0.16);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
.cdx-text-variant--citation {
  font-style: italic;
}
.cdx-text-variant--details {
  /* font-size: 0.84em; */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.cdx-text-variant__toggler svg {
  width: 20px;
  height: 20px;
}
.cdx-text-variant--text-xs	{
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}
.cdx-text-variant--text-sm	{
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}
.cdx-text-variant--text-base	{
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}
.cdx-text-variant--text-lg	{
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}
.cdx-text-variant--text-xl	{
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.cdx-text-variant--text-2xl	{
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}
.cdx-text-variant--text-3xl	{
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}
.cdx-text-variant--text-4xl	{
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
}
.cdx-text-variant--text-5xl	{
  font-size: 3rem; /* 48px */
  line-height: 1;
}
.cdx-text-variant--text-6xl	{
  font-size: 3.75rem; /* 60px */
  line-height: 1;
}
.cdx-text-variant--text-7xl	{
  font-size: 4.5rem; /* 72px */
  line-height: 1;
}
.cdx-text-variant--text-8xl	{
  font-size: 6rem; /* 96px */
  line-height: 1;
}
.cdx-text-variant--text-9xl	{
  font-size: 8rem; /* 128px */
  line-height: 1;
}